.root   {
    background-color: #2A2C2F;
    color: #FFFFFF;
    height: 100%;
    padding: 0 48px 0 48px;
    margin: 0 auto;
    font-family: "Inter";
    overflow:  hidden x;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 1184px;
}
.header__logo{
    background-image:url(./images/header-logo.svg);
    width: 176px;
    height: 52px;
}
.header__lang-link{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
    padding-right:18px ;
}
.header__lang-link:last-child{
    padding: 0;
}
.header__lang-link:hover{
    opacity: 0.5;
    transition: all linear 0.3s;
    text-decoration-line: underline;
}
.lead{
    margin: 0 auto;
    padding-top:28px;
    align-items: center;
}
.lead__title{
    max-width:720px;
    margin: auto;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color:  #FFFFFF;
}
.lead__subtitle{
    max-width: 640px;
    margin: auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    padding: 32px 0 64px 0;
}
.lead__image{
    background-size: cover;
    width: 100%;
    height: auto;
    min-width: 320px;
}
.lead__caption{
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.intro {
    max-width: 100%;
    padding-top: 92px;
    margin: 0 148px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.intro__title{
    margin: 0;
    max-width: 690px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}
.intro__text {
    max-width: 690px;
    margin: 0;
    padding-top: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}
.intro__list {
    max-width: 690px;
    margin: 0;
    padding: 33px 0 0;
}
.intro__fact{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
}
.photo-grid{
    max-width: 1184px;
    padding: 92px 48px 0;
    margin: 0 auto;
}
.photo-grid__list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style-type: none;
}
.photo-grid__item{
    width: 100%;
    transition: transform .5s ease-in-out;
}
.photo-grid__item:hover {
    transform: scale(1.113, 1.18);
}
.places{
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;
}
.place{
    margin: 0;
    padding-bottom: 80px;
    display: grid;
    align-items: end;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image paragraph";
}
.place:last-child{
    padding-bottom: 0;
}
.place__title{
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    grid-area: title;
}
.place__image{
    margin: 0;
    max-width: 100%;
    grid-area: image;
    align-self: start;
}
.paragraphs{
    align-self: start;
}
.paragraph{
    margin: 0;
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    align-self: start;
    grid-area: paragraph;
}
.place__website{
    margin: 0;
    max-width: 456px;
    grid-area: website;
}
.place__website_url-heading{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}
.place__website_link{
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__website_link:hover{
    opacity: 0.5;
   transition: all linear 0.3s;
}
.cover{
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}
.cover__overlay{
    width: 100%;
    min-height: 200px;
    opacity: 0.3;
    background-color: #2A2C2F;
    align-items: center;
    position: relative;
}
.cover__overlay:hover{
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    background-color: #2A2C2F;
}
.cover__box{
position: absolute;
max-width: 560px;
text-align: center;
}
.cover__title{
    text-decoration: none;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
.cover__subtitle{
    margin: 0 auto;
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 32px 0 0 0;
    color: #FFFFFF;
}
.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 92px 0 0;
    color: #FFFFFF;
}
.footer__links {
 margin: 16px 0 0 0 ;
}
.footer__link {
    padding-right: 18px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    list-style-type: none;
}
.footer__link:hover{
    opacity: 0.5;
   transition: all linear 0.3s;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){ 
    .root{
        padding: 0 48px 0 48px;
    }
    .intro {
        margin: 0 48px;
        max-width: 100%;
    }
    .photo-grid__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
    .photo-grid__item:hover {
        transform: scale(1.085, 1.135);
    }
    .places {
        max-width: calc(100% - 96px);
    }
    .place{
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
    .cover__title{
        line-height:122%
    }
    .footer {
        max-width: calc(100% - 96px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){ 
    .root{
        padding: 0;
        overflow:  hidden x;
    }
    .intro {
        margin: 0 24px;
        max-width: 100%;
        padding-top: 88px;
    }
    .intro__title {
        max-width: 100%;
    }
    .intro__text {
        max-width: 100%;
    }
    .intro__fact {
        max-width: 100%;
    }
    .photo-grid {
        padding: 88px 24px 0;
    }
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .photo-grid__item:hover {
        transform: none;
    }
    .header{
        width: 928px;
    }
    .places {
        max-width: calc(100% - 48px);
        padding-top: 88px;
    }
    .place{
        padding-bottom: 73px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
    .place__paragraph {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .cover__title{
        line-height:106%
    }
}
@media screen and (max-width: 767px) {
    .intro {
        margin: 0 16px;
        max-width: 767px;
        max-width: 100%;
        padding-top: 64px;
    }
    .intro__title {
        max-width: 100%;
        font-size: 32px;
        line-height: 1.09;
    }
    .intro__text {
        max-width: 100%;
    }
    .intro__fact {
        max-width: 100%;
    }
    .photo-grid {
        padding: 64px 16px 0;
    }
    .photo-grid__list {
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .photo-grid__item:hover {
        transform: none;
    }
    .places {
        max-width: 100%;
        padding-top: 64px;
    }
    .place {
        padding-bottom: 50px;
        gap: 0;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "title" "website" "image" "paragraph";
    }
}
